doctype html
html(lang="en")
  head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js')
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css')
    script(src='javascripts/initmap.js')
  body(style='height:100%')
    h1 Jade - node template engine
    #map(style='height:600px')
